<?xml version="1.0"?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="we_r2_arm">

    <link name="world" />

    <link name="base_link">
        <visual>
            <origin rpy="0 0 0"  xyz="0 0 0" />
            <geometry>
                <mesh filename="package://we_r2_arm_description/meshes/shoulder_actuator_1.stl" scale="1 1 1" />
            </geometry>
        </visual>
    </link>

    <joint name="virtual_joint" type="fixed">
        <parent link="world" />
        <child link="base_link" />
        <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>


</robot>