<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="we_r2_arm">

    <ros2_control type="system" name="RobotSystem">

        <xacro:property name="PI" value="3.14159" />

        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="joint_0">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="joint_1">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="joint_2">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="joint_3">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="joint_4">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>

        <joint name="joint_5">
            <command_interface name="position">
                <param name="min">-${PI / 2}</param>
                <param name="max">${PI / 2}</param>
            </command_interface>
            <state_interface name="position" />
        </joint>
    
    </ros2_control>

</robot>