<?xml version="1.0"?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" name="we_r2_arm">
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find we_r2_arm_controller)/config/we_r2_arm_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>